body {
  background-color: #d5e1df;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #e73535;
  padding: 10px 0;
}
nav a {
  text-decoration: none;
  color: #d5e1df;
  padding: 0 15px;
  font-size: 1.2em;
}

h1 {
  margin-left: 30px;
  margin-top: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 550px;
  margin: 0 auto;
}
.card a img {
  width: 100%;
  border-radius: 15px;
}
.card h4 {
  margin-left: 20px;
}

.container {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}
.container .img {
  width: 500px;
}
.container .img img {
  width: 100%;
  border-radius: 15px;
}
.container .info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 1em;
}
.container .info h3 {
  color: #e73535;
  margin-top: 5px;
  margin-bottom: 0;
}
.container .info h4 {
  margin-top: 5px;
  margin-bottom: 0;
}
.container .info .titleCard {
  margin-left: 0;
  font-size: 2.2em;
}
.container .info .titleGroup {
  display: flex;
  align-items: center;
}
.container .info .titleGroup h4 {
  margin-left: 10px;
}
.container .info .desGroup {
  display: flex;
  align-items: center;
}
.container .info .desGroup h4 {
  margin-left: 10px;
}
.container .info .autGroup {
  display: flex;
  align-items: center;
}
.container .info .autGroup h4 {
  margin-left: 10px;
}

.formContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 220px;
  margin-left: 22%;
}
.formContainer form {
  display: flex;
  flex-direction: column;
}
.formContainer label {
  font-size: 1.5em;
  margin-bottom: -5px;
}
.formContainer textarea {
  border: none;
  padding: 5px 300px 5px 5px;
  border-radius: 15px;
}
.formContainer button {
  border-radius: 15px;
  border: none;
  padding: 2px 10px;
  margin-top: 10px;
}
